<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjc.jcdemolist">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".demo.WebViewTest.WebViewActivity"></activity>
        <activity android:name=".demo.KotlinDemo.KotlinActivity" />
        <activity android:name=".itemActivity.GestureTestActivity" />
        <activity android:name=".demo.ServiceDemo.ServiceDemoActivity" />
        <activity android:name=".demo.changeSkin.ChangeSkinActivity" />
        <activity android:name=".demo.PaintAndCanvas.PaintAndCanvasActivity" />
        <activity android:name=".itemActivity.AnimatorTest" />
        <activity android:name=".demo.dispatch.dispatchDemo03.Main7Activity" />
        <activity android:name=".demo.dispatch.dispatchDemo02.Main6Activity" />
        <activity android:name=".demo.dispatch.dispatchDemo.Main5Activity" />
        <activity android:name=".itemActivity.Custom2Activity" />
        <activity android:name=".itemActivity.CustomActivity" />
        <activity android:name=".demo.jsonDemo.JsonActivity" />
        <activity android:name=".demo.mvp.mvpDagger2Demo01.login.LoginActivity01" />
        <activity android:name=".demo.mvp.mvpDemo02.login.LoginActivity" />
        <activity
            android:name=".demo.mvp.mvpDemo01.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/NoActionBar" />
        <activity android:name=".demo.mvp.mvpDemo01.Main2Activity" />
        <activity android:name=".demo.rxbinding_test.RxbindingActivity" />
        <activity android:name=".itemActivity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".itemActivity.MarqueeActivity" />
        <activity android:name=".itemActivity.ScaleTypeTestActivity" />
        <activity android:name=".demo.viewpagerDemo.Main4Activity" />
        <activity android:name=".itemActivity.XfermodeActivity" />

        <service android:name=".demo.ServiceDemo.ForegroundService" />

        <activity android:name=".demo.customRv.CustomRvActivity" />
    </application>

</manifest>